<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card" *ngFor="let catalog of catalogItems$">
        <div class="card-body">
          <img
            class="card-img-left"
            src="{{ catalog.image }}"
            alt="Card image cap"
          />
          <h4 class="card-title">{{ catalog.name }}</h4>
          <div class="star">
            <p>
              <rating
                [(ngModel)]="catalog.rating"
                [max]="max"
                [readonly]="isReadonly"
              ></rating>
            </p>
          </div>
          <a
            href="{{ catalog.sourceUrl }}"
            class="btn btn-primary"
            target="_blank"
            >Get the recipe</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
